Import Libraries

In [1]:
import pandas as pd
import numpy as np

Load and inspect dataset

In [2]:
df = pd.read_csv(r'C:\Customer Churn Prediction\data\raw\WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [56]:
df.tail()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [57]:
print(f"Rows: {df.shape[0]}\nColumns: {df.shape[1]}")

Rows: 7043
Columns: 21

In [58]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   str
 1   gender            7043 non-null   str
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   str
 4   Dependents        7043 non-null   str
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   str
 7   MultipleLines     7043 non-null   str
 8   InternetService   7043 non-null   str
 9   OnlineSecurity    7043 non-null   str
 10  OnlineBackup      7043 non-null   str
 11  DeviceProtection  7043 non-null   str
 12  TechSupport       7043 non-null   str
 13  StreamingTV       7043 non-null   str
 14  StreamingMovies   7043 non-null   str
 15  Contract          7043 non-null   str
 16  PaperlessBilling  7043 non-null   str
 17  PaymentMethod     7043 non-null   str
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   str
 20  Churn             7043 non-null   str
dtypes: float64(1), int64(2), str(18)
memory usage: 1.1 MB

Check missing values

In [59]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Check duplicates

In [60]:
df.duplicated().sum()

np.int64(0)

Get unique values

In [61]:
for i in df.columns:
    print(i,df[i].unique())
    print('*' * 100)

customerID <StringArray>
['7590-VHVEG', '5575-GNVDE', '3668-QPYBK', '7795-CFOCW', '9237-HQITU',
 '9305-CDSKC', '1452-KIOVK', '6713-OKOMC', '7892-POOKP', '6388-TABGU',
 ...
 '9767-FFLEM', '0639-TSIQW', '8456-QDAVC', '7750-EYXWZ', '2569-WGERO',
 '6840-RESVB', '2234-XADUH', '4801-JZAZL', '8361-LTMKD', '3186-AJIEK']
Length: 7043, dtype: str
****************************************************************************************************
gender <StringArray>
['Female', 'Male']
Length: 2, dtype: str
****************************************************************************************************
SeniorCitizen [0 1]
****************************************************************************************************
Partner <StringArray>
['Yes', 'No']
Length: 2, dtype: str
****************************************************************************************************
Dependents <StringArray>
['No', 'Yes']
Length: 2, dtype: str
****************************************************************************************************
tenure [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
****************************************************************************************************
PhoneService <StringArray>
['No', 'Yes']
Length: 2, dtype: str
****************************************************************************************************
MultipleLines <StringArray>
['No phone service', 'No', 'Yes']
Length: 3, dtype: str
****************************************************************************************************
InternetService <StringArray>
['DSL', 'Fiber optic', 'No']
Length: 3, dtype: str
****************************************************************************************************
OnlineSecurity <StringArray>
['No', 'Yes', 'No internet service']
Length: 3, dtype: str
****************************************************************************************************
OnlineBackup <StringArray>
['Yes', 'No', 'No internet service']
Length: 3, dtype: str
****************************************************************************************************
DeviceProtection <StringArray>
['No', 'Yes', 'No internet service']
Length: 3, dtype: str
****************************************************************************************************
TechSupport <StringArray>
['No', 'Yes', 'No internet service']
Length: 3, dtype: str
****************************************************************************************************
StreamingTV <StringArray>
['No', 'Yes', 'No internet service']
Length: 3, dtype: str
****************************************************************************************************
StreamingMovies <StringArray>
['No', 'Yes', 'No internet service']
Length: 3, dtype: str
****************************************************************************************************
Contract <StringArray>
['Month-to-month', 'One year', 'Two year']
Length: 3, dtype: str
****************************************************************************************************
PaperlessBilling <StringArray>
['Yes', 'No']
Length: 2, dtype: str
****************************************************************************************************
PaymentMethod <StringArray>
[         'Electronic check',              'Mailed check',
 'Bank transfer (automatic)',   'Credit card (automatic)']
Length: 4, dtype: str
****************************************************************************************************
MonthlyCharges [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
****************************************************************************************************
TotalCharges <StringArray>
[  '29.85',  '1889.5',  '108.15', '1840.75',  '151.65',   '820.5',  '1949.4',
   '301.9', '3046.05', '3487.95',
 ...
 '2625.25', '6886.25',  '1495.1',   '743.3',  '1419.4',  '1990.5',  '7362.9',
  '346.45',   '306.6',  '6844.5']
Length: 6531, dtype: str
****************************************************************************************************
Churn <StringArray>
['No', 'Yes']
Length: 2, dtype: str
****************************************************************************************************

Change the datatype of column 'TotalCharges' to numeric

In [62]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors = 'coerce')

Check further missing values are present

In [63]:
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

Fill the missing columns with median

In [64]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())

Strip whitespaces in columns names

In [65]:
df.columns = df.columns.str.strip()

Normalize churn labels

In [66]:
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})

In [67]:
df.nunique()

customerID          7043
gender                 2
SeniorCitizen          2
Partner                2
Dependents             2
tenure                73
PhoneService           2
MultipleLines          3
InternetService        3
OnlineSecurity         3
OnlineBackup           3
DeviceProtection       3
TechSupport            3
StreamingTV            3
StreamingMovies        3
Contract               3
PaperlessBilling       2
PaymentMethod          4
MonthlyCharges      1585
TotalCharges        6531
Churn                  2
dtype: int64

Rename Columns into  same title format

In [4]:
df.rename(columns = {
    'customerID': 'CustomerID',
    'gender': 'Gender',
    'tenure': 'Tenure',
    }, inplace = True)

Create customer table

In [70]:
customers = df[['CustomerID', 'Gender', 'SeniorCitizen', 'Partner', 'Dependents', 'Tenure']]

Create service table

In [5]:
services = df[['CustomerID', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV','StreamingMovies']]

Create billing table

In [72]:
billing = df[['CustomerID', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges']]

Create support call table

In [74]:
support_calls = pd.DataFrame()
support_calls['CustomerID'] = df['CustomerID']

support_calls['support_calls'] = (
    (df['TechSupport'] == 'No').astype(int) * np.random.randint(1, 4, size=len(df))
    + (df['InternetService'] == 'Fiber optic').astype(int) * np.random.randint(0, 2, size=len(df))
    + (df['SeniorCitizen']).astype(int) * np.random.randint(0, 2, size=len(df))
)

Create churn label

In [76]:
churn_label = df[['CustomerID', 'Churn']]

Save all the tables

In [ ]:
customers.to_csv("../data/interim/customers.csv", index=False)
services.to_csv("../data/interim/services.csv", index=False)
billing.to_csv("../data/interim/billing.csv", index=False)
support_calls.to_csv("../data/interim/support_calls.csv", index=False)
churn_label.to_csv("../data/interim/churn_label.csv", index=False)